{% extends 'admin/base_sensei.html'%}
{% block indicadores %}
<div class="page-header">
    <h4 class="page-title">Blog</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Blog</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Nuevo Blog</a>
      </li>
    </ul>
</div>
{% endblock indicadores %}
{% block contenido %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-success">Guardar</button>
</form>

{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
CKEDITOR.replace( 'id_blog_contenido');

</script>

{% endblock script %}