{% extends 'admin/base_sensei.html'%}
{% block indicadores %}
<div class="page-header">
    <h4 class="page-title">Calificar</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Calificar</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Calificar Materia</a>
        </li>
    </ul>
</div>
{% endblock indicadores %}
{% block contenido %}

<h1>{{msn|safe}}</h1>


    {% if materias %} 
    {% else %}
    <form action="" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label for="materia">Aula</label>
                <select class="custom-select form-control" id="" name="aula">
                    <option selected disabled>Elije una opcion</option>
                    {% for aula in aulas %}
                    <option value="{{aula.id}}">{{aula.aula_nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <br>
                <button type="submit" title="Buscar" class="btn btn-success"><i class="fas fa-search"></i></button>
            </div>
            {% if view.request.GET.materia != None %}
            <div class="col-md-1">
                    <br>
                    <button type="button" onclick="dowLoadPDF()" title="Descargar pdf" class="btn btn-default"><i class="icon-arrow-down-circle"></i></button>
                </div>
            <div class="col-md-5">
                    <br>
                    <h3 id="materia_h3">{{materia_txt}}</h3>
                </div>
            {% endif %}
            
        </div>
    </form>
    {% endif %}
    {% if materias %}
    <form action="" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label for="materia">Materia</label>
                <select class="custom-select form-control" id="select_materia" name="materia">
                    <option selected disabled>Elije una opcion</option>
                    {% for materia in materias %}
                    <option value="{{materia.materia_id}}">{{materia.materia_nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <br>
                <button title="Promediar" type="submit" class="btn btn-success"><i class="fas fa-check-circle"></i></button>
            </div>
        </div>
    </form>
    {% endif %}



<div class="row">
    <table class="table" id="tabla_materia">
        <thead>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Alumno</th>
                <th scope="col">Promedio Final</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <th scope="row">{{alumno.calM_nombre_materia}}</th>
                <td>{{alumno.calM_alumno.first_name}} {{alumno.calM_alumno.last_name}}</td>
                <td>{{alumno.calM_calificacionFinal}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}

{% block script %}
{% load static %}
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://unpkg.com/jspdf-autotable@3.1.1/dist/jspdf.plugin.autotable.js"></script>
<script src="{% static 'JS/calificar_materia.js' %}"></script>
{% endblock script %}