{% extends 'dasboard/base.html' %}
{% load get_model_object %}
{% load condicionales %}
{% block titulo %}
<title>Sensei | Materia</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Materias</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Materias</h1>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div class="row">
{% for item in object_list %}
<div class="col-sm-4">
<div class="card">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">{{item}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{item.materia_aula}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{item.materia_creado}}</h6>
    <h6 class="card-subtitle mb-2 text-muted"><strong>Promedio:{{item.materia_id|get_promedio_materia:user.id}}</strong></h6>
  </div>

  <div class="list-group">
    {% for unidad in item.materia_id|unidades_materia %}
    <a href="{% url 'ctr:al_tareas' unidad.unidad_id %}" class="list-group-item list-group-item-action">{{unidad}}</a>
    {% endfor %}
  </div>
  <div class="card-body">
    <a href="{% url 'ctr:al_recurso' item.materia_id %}" class="btn btn-link">Recursos</a>
  </div>
</div>
</div>
{% endfor %}    
</div>
{% endblock contenido %}