{% extends 'dasboard/base.html' %} 
{% load get_model_object %}
{% block titulo %}
<title>Sensei | Responder</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Examen</li>
    </ol>
</nav>
<div class="pb-3"> 
    <h1>Examen</h1>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div class="container">
  <h3 id="countdown" class="text-center"></h3>
<div class="row">
<form action="" method="post">
    {% csrf_token %}
    
    {% for item in preguntas %}
        
        {% if item.rec_tipo == 'text' %}
        <div class="form-group">
            <label for="rep_txt" style="font-weight: bold;"><h5  style="font-weight: bold;">{{item}}</h5></label>
            <input type="text" class="form-control" id="rep_txt" name="{{item.id}}" placeholder="Especifique su respuesta" required>
          </div>
          {% elif item.rec_tipo == 'textarea' %}
          <div class="form-group">
            <label for="area_pregunta"><h5  style="font-weight: bold;">{{item}}</h5></label>
            <textarea class="form-control" id="area_pregunta"  name="{{item.id}}" rows="3" required></textarea>
          </div>
          {% elif item.rec_tipo == 'radio' %}
          <h5 style="font-weight: bold;">{{item}}</h5>
          {% for radio in item.id|elecciones_reactivo %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{radio.el_reactivo.id}}" id="{{radio.id}}" value="{{radio.id}}" required>
            <label class="form-check-label" for="{{radio.id}}">
              {{radio.el_value}}
            </label>
          </div>
          {% endfor %}
              
          
        {% endif %}
            
    {% endfor %}
        
    <input class="btn btn-outline-success" type="submit" value="Finalizar">
</form>
</div>
</div>



{% endblock contenido %}


{% block script %}
<script>
  var end = new Date('{{tarea.tarea_fecha_termino|date:"m/d/Y"}} {{tarea.tarea_hora_end}}');
  
      var _second = 1000;
      var _minute = _second * 60;
      var _hour = _minute * 60;
      var _day = _hour * 24;
      var timer;
  
      function showRemaining() {
          var now = new Date();
          var distance = end - now;
          if (distance < 0) {
  
              clearInterval(timer);
              document.getElementById('countdown').innerHTML = 'Tiempo Finalizado!';
  
              return;
          }
          var days = Math.floor(distance / _day);
          var hours = Math.floor((distance % _day) / _hour);
          var minutes = Math.floor((distance % _hour) / _minute);
          var seconds = Math.floor((distance % _minute) / _second);
  
          document.getElementById('countdown').innerHTML = days + ' dias, ';
          document.getElementById('countdown').innerHTML += hours + ' horas, ';
          document.getElementById('countdown').innerHTML += minutes + ' minutos y ';
          document.getElementById('countdown').innerHTML += seconds + ' segundos';
      }
  
      timer = setInterval(showRemaining, 1000);
  </script>
{% endblock script %}
  