{% extends 'dasboard/base.html' %} 
{% load get_model_object %}
{% block titulo %}
<title>Sensei | Responder</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Examen</li>
    </ol>
</nav>
<div class="pb-3"> 
    <h2>MATERIA: {{tarea.tarea_unidad.unidad_materia}}</h2>
    <h3>UNIDAD: {{tarea.tarea_unidad}}</h3>
    <h5>EXAMEN: {{tarea}}</h5>
    <p><strong><i>{{tarea.tarea_descripcion}}</i></strong></p>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div class="container">
  <h3 id="countdown" class="text-center"></h3>
  <h3 class="text-center"> <i>Pregunta {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</i></h3>
<div class="row">
<form action="" method="GET">
    <!-- {% csrf_token %} -->

    {% if page_obj.has_next %}
    <input type="hidden" name="page" value="{{ page_obj.next_page_number }}">
    {% endif %}
    {% for item in object_list %}
        
        {% if item.rec_tipo == 'text' %}
        <div class="form-group">
            <label for="rep_txt" style="font-weight: bold;"><h5  style="font-weight: bold;">{{item}}</h5></label>
            <input type="text" class="form-control" id="rep_txt" name="selected_user" placeholder="Especifique su respuesta" required>
          </div>
          {% elif item.rec_tipo == 'textarea' %}
          <div class="form-group">
            <label for="area_pregunta"><h5  style="font-weight: bold;">{{item}}</h5></label>
            <textarea class="form-control" id="area_pregunta"  name="selected_user" rows="3" required></textarea>
          </div>
          {% elif item.rec_tipo == 'radio' %}
          <h5 style="font-weight: bold;">{{item}}</h5>
          {% for radio in item.id|elecciones_reactivo %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="selected_user" id="{{radio.id}}" value="{{radio.id}}" required>
            <label class="form-check-label" for="{{radio.id}}">
              {{radio.el_value}}
            </label>
          </div>
          {% endfor %}
              
          
        {% endif %}
            
    {% endfor %}
        
    

    <div class="card-footer d-flex justify-content-center">
    
      <ul class="pagination pagination-clean pagination-sm mb-0">
        
        {% if page_obj.has_next %}
        <li class="page-item">
          <input class="btn btn-outline-success" type="submit" value="Siguiente›">
        </li>
        {% else %}
        <input type="hidden" name="finished" value="true">
        <input class="btn btn-outline-success" type="submit" value="Terminar">
        {% endif %}
      </ul>
    </div>
    
</form>
</div>
</div>





{% endblock contenido %}


{% block script %}
<script>
  var end = new Date('{{tarea.tarea_fecha_termino|date:"m/d/Y"}} {{tarea.tarea_hora_end}}');
  
      var _second = 1000;
      var _minute = _second * 60;
      var _hour = _minute * 60;
      var _day = _hour * 24;
      var timer;
  
      function showRemaining() {
          var now = new Date();
          var distance = end - now;
          if (distance < 0) {
  
              clearInterval(timer);
              document.getElementById('countdown').innerHTML = 'Tiempo Finalizado!';
  
              return;
          }
          var days = Math.floor(distance / _day);
          var hours = Math.floor((distance % _day) / _hour);
          var minutes = Math.floor((distance % _hour) / _minute);
          var seconds = Math.floor((distance % _minute) / _second);
  
          document.getElementById('countdown').innerHTML = days + ' dias, ';
          document.getElementById('countdown').innerHTML += hours + ' horas, ';
          document.getElementById('countdown').innerHTML += minutes + ' minutos y ';
          document.getElementById('countdown').innerHTML += seconds + ' segundos';
      }
  
      timer = setInterval(showRemaining, 1000);
  </script>
{% endblock script %}
  