{% extends 'dasboard/base.html' %}
{% load get_model_object %}
{% load condicionales %}
{% block titulo %}
<title>Sensei | Tareas</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'ctr:dasboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ctr:al_materia' %}">Materias</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tareas</li>
    </ol>
</nav>
<div class="pb-3">
    <h2>{{unidad.unidad_materia}}</h2>
    <h3>{{unidad}}</h3>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div class="row">
  <div class="col-lg-6 col-sm-6 col-sm-12">
  <div class="card">
    <div class="card-header">
      Tareas
    </div>
    <div class="card-body">
      <table class="table table-striped table-sm table-responsive">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Inicio</th>
            <th scope="col">Termino</th>
            <th scope="col">Tipo</th>
            <th scope="col">%</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
          <tr>
            <td>{{item.tarea_nombre}}</td>
            <td>{{item.tarea_descripcion}}</td>
            <td>{{item.tarea_fecha_inicio}}</td>
            <td>{{item.tarea_fecha_termino}}</td>
            <td>{{item.tarea_tipo}}</td>
            <td>{{item.tarea_porcentaje}}%</td>
            <td>

              
              {% if item.tarea_id|is_aviable_tarea %}
               {{item.tarea_id|return_button_tarea|safe}}
               {% else %}
               <span class="badge badge-warning">Fuera del rango</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>



  <div class="col-lg-6 col-sm-6 col-sm-12">
  <div class="card">
    <div class="card-header">
      Entregadas
    </div>
    <div class="card-body">
      <table class="table table-striped table-sm table-responsive">
        <thead>
          <tr>
            <th scope="col">Tarea</th>
            <th scope="col">Doc</th>
            <th scope="col">Respuesta</th>
            <th scope="col">Entregado</th>
            <th scope="col">Status</th>
            <th scope="col">Calificacion</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for item in entregas %}
          <tr>
            <td>{{item.tareaDocumento_Tarea}}</td>
            <td>
              
              {% if item.tareaDocumento_Tarea.tarea_tipo == 'ENTREGA' %}
              <a href="{{item.tareaDocumento_archivo.url}}" class="btn btn-sm btn-icon btn-secondary">
                <span class="oi oi-file"></span>
              </a>
              {% endif %}
                
            </td>
            <td>{{item.tareaDocumento_comentario_maestro}}</td>
            <td>{{item.tareaDocumento_creado}}</td>
            <td>
              
              {% if item.tareaDocumento_status %}
              <span class="badge badge-success">Calificado</span>
              {% else %}
              <span class="badge badge-info">Entregado</span>
              {% endif %}
                
            </td>
            <td>{{item.tareaDocumento_calificacion}}</td>
            <td>
              {% if item.tareaDocumento_Tarea.tarea_tipo == 'ENTREGA' %}
              {% if item.tareaDocumento_status == False %}
              <a href="{% url 'ctr:al_tareas_delete' item.tareaDocumento_id item.tareaDocumento_Tarea.tarea_unidad.unidad_id %}" class="btn btn-sm btn-labeled btn-danger">
                <span class="btn-label">
                  <span class="oi oi-trash" aria-hidden="true"></span>
                </span>
                <span class="btn-text">
                  Eliminar
                </span>
              </a>
              {% endif %}
              {% endif %}
                
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
{% endblock contenido %}