{% extends 'admin/base_sensei.html'%}{% load static %}
{% block indicadores %}
{% endblock indicadores %}

{% block contenido %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'chat.css' %}"> -->
<link rel="stylesheet" href="{% static 'chat1.css' %}">
<style>
    #chat-log {
        width: auto;
        height: 400px;
        overflow: auto;
        background: rgba(226,226,226,1);
        background-size: cover;
    }
    #chat-list {
        width: auto;
        height: 480px;
        overflow: auto;
        background: rgba(226,226,226,1);
    }
    #chat {
        background: rgba(226,226,226,1);
    }

</style>

<!-- <div class="row mt-12">
            <div class="col-md-12 comments-main pt-4 rounded">

                <ul class="p-0" id="chat-log">

                    {% for msn in mensajes_old %}
                    <li>
                        <div class="row comments mb-2">
                            <div class="col-md-2 col-sm-2 col-3 text-center user-img"><img id="profile-photo"
                                    src="{% if msn.usuario.foto_perfil != '' %} {{msn.usuario.foto_perfil.url}} {% else %}{% static 'anonimo.png' %}{% endif %}" class="rounded-circle"></div>
                            <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                                <h4 class="m-0"><a href="#">{{msn.usuario.get_full_name}}</a></h4><time
                                    class="text-white ml-3">{{msn.mensaje_creado}}</time>
                                <like></like>
                                <p class="mb-0 text-white">{{msn.mensaje}}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}


                </ul>
                <div class="row comment-box-main p-3 rounded-bottom">
                    <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
                        <input type="text" class="form-control" id="chat-message-input" placeholder="Comentar" />
                    </div>
                    <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
                        <button id="chat-message-submit" class="btn btn-info">Enviar</button>
                    </div>
                </div>
            </div>
        </div> -->


<div class="container">

    <div class="row" id="chat">
        <div class="col-4 border border-info" id="chat-list">

            <div class="navbar-left navbar-form nav-search mr-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-search pr-1">
                            <i class="fa fa-search search-icon"></i>
                        </button>
                    </div>
                    <input type="text" list="browsers" id="txt_user" placeholder="Bucar ..." class="form-control">
                    <button class="btn btn-secondary" onclick="nuevo_chat()"><span class="btn-label"><i class="fa fa-plus"></i></span>Añadir</button>

                </div>
            </div>

            <div class="list-group" id="list-tab" role="tablist">
                {% for usr in  list_usuarios %}

                <a class="list-group-item list-group-item-action" id="{{usr.usr}}" data-toggle="list"
                    href="#list-home" role="tab" aria-controls="home" onclick="cambioRom('{{usr.usr}}')">
                    <div class="avatar">
                        <img src="{% if usr.usr.foto_perfil != '' %}{{usr.usr.foto_perfil.url}}{% else %}{% static 'anonimo.png' %}{% endif %} " alt="..." class="avatar-img rounded-circle">
                    </div> <strong>{{usr.usr.get_full_name}}
                            {% if usr.no_leido > 0 %}
                            <span id="span_eliminar" class="badge badge-success">Nuevo Mensaje</span>
                            {% endif %}
                    </strong>

                </a>
                {% endfor %}

            </div>


        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12" id="chat-log">

                </div>
            </div>

            <div class="col-sm-12" id="chat-input">
                <div class="row">
                    <input type="text" class="form-control col-sm-10" disabled id="chat-message-input" placeholder="Mensaje" autofocus>
                    <div class="col-sm-2">
                        <button type="button" id="chat-message-submit" disabled class="btn btn-default"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



<datalist id="browsers">
    {% for list in list_usr_serach %}
    <option value="{{list}}">{{list.get_full_name}}</option>
    {% endfor %}
</datalist>


{% endblock contenido %}

{% block script %}
{% load static %}


<script>


function nuevo_chat(usr) {
    var username=document.getElementById("txt_user").value;
    var div_list = document.getElementById("list-tab");   // Create a <button> element



        $.ajax({
            type: "POST",
            url: "{% url 'chat:get_user' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                usr: username,
            },
            success: function (data) {


                div_list.innerHTML += '<a class="list-group-item list-group-item-action" id="'+data.user+'" data-toggle="list"'+
                  `href="#list-home" role="tab" aria-controls="home" onclick="cambioRom('`+data.user+`')">`+
                    '<div class="avatar">'+
                        '<img src="/media/'+data.foto+'" alt="..." class="avatar-img rounded-circle">'+
                    '</div> <strong>'+data.nombre+'</strong></a>';

                    console.log(data);
                    document.getElementById("txt_user").value='';

            },
            error: function (data) {
                console.log('An error occurred.');

                console.log(data);
            },
        });
}


    var roomName='{{Usuario}}';
    var nom_chat='';
    var chatSocket;

function cambioRom(nombre) {
    nom_chat=nombre
    document.getElementById("chat-message-submit").disabled = false;
    document.getElementById("chat-message-input").disabled = false;
    document.getElementById('chat-log').innerHTML='';
    get_historico(nombre);
    $('#span_eliminar').remove()
    marcar_mensaje(nombre)

}






$(function() {
    $('#chat-message-submit').attr('disabled','disabled');
    $('#chat-message-input').attr('disabled','disabled');

    chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');


    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var user = data['user'];
        var user_send = data['user_send'];
        var foto_perfil = data['foto_perfil'];
        var contenido = '';



        switch (foto_perfil) {
            case '':
                foto_perfil = "{% static 'anonimo.png' %}";
                break;
            default:
                var tem = '/media/' + foto_perfil
                foto_perfil = tem
                break;
        }

        if (user_send == '{{user}}') { 

            contenido = '<div class="row justify-content-end">' +
                '<span class="badge badge-secondary">' + message + '</span>' +
                '</div>';
                document.getElementById('chat-log').innerHTML += (contenido);
        } else {

            if ($('#'+user_send).hasClass('active')) {
                contenido = '<span class="badge badge-pill badge-light" title="2019">' + message + '</span>';
                document.getElementById('chat-log').innerHTML += (contenido);
                marcar_mensaje(user_send)
            }else{
                $('#'+user_send).remove()
                elemento_list=$("#list-tab").html();

                document.getElementById('list-tab').innerHTML = '<a class="list-group-item list-group-item-action" id="'+user_send+'" data-toggle="list"'+
                    `href="#list-home" role="tab" aria-controls="home" onclick="cambioRom('`+user_send+`')">`+
                        '<div class="avatar">'+
                            '<img src="'+foto_perfil+'" alt="..." class="avatar-img rounded-circle">'+
                        '</div> <strong>'+user+'<span id="span_eliminar" class="badge badge-success">Nuevo Mensaje</span> </strong></a>';
                document.getElementById('list-tab').innerHTML += (elemento_list);

            }

        }



        var div = document.getElementById('chat-log');
        div.scrollTop = '9999';
    };

    chatSocket.onclose = function (e) {

        setTimeout(function(){
        console.error('Chat socket closed unexpectedly');
         swal ( "Oops" ,  "Ha ocurrido un error recargue la pagina porfavor!" ,  "error" )
        }, 3000);

    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'nombre_completo': '{{user.get_full_name}}',
            'usuario_envia': '{{user}}',
            'foto_perf': '{{user.foto_perfil}}',
            'grup_enviar': nom_chat,
        }));

        messageInputDom.value = '';
    };


    window.onload = function () {
        var div = document.getElementById('chat-log');
        div.scrollTop = '9999';
    };

});

    function get_historico(user_select) {
        var user = '{{user}}';
        var contenido = '';

        $.ajax({
            type: "POST",
            url: "{% url 'chat:get_user_historia' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                usr_seleccionado: user_select,
                usr_princ: user,
            },
            success: function (data) {
                $.each(data.historia, function (i, item) {
                    if (item.mensaje_de == {{Usuario.id}}) {

                        contenido = '<div class="row justify-content-end">' +
                            '<span class="badge badge-secondary">' + item.mensaje + '</span>' +
                            '</div>';
                    } else {
                        contenido = '<span class="badge badge-pill badge-light row justify-content-start" title="2019">' + item.mensaje + '</span>';
                    }
                    document.getElementById('chat-log').innerHTML += (contenido);

                });

                var div = document.getElementById('chat-log');
                div.scrollTop = '9999';

            },
            error: function (data) {
                console.log('An error occurred.');

                console.log(data);
            },
        });
    }



    function marcar_mensaje(emisor_S) {
        $.ajax({
            type: "POST",
            url: "{% url 'chat:marcar_msn' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                emisor: emisor_S,
            },
            success: function (data) {
                console.log(data);

            },
            error: function (data) {
                console.log('An error occurred.');

                console.log(data);
            },
        });
    }

</script>


{% endblock script %}

{% block notificacion %}

{% endblock notificacion %}