{% extends 'dasboard/base.html' %}


{% block titulo %}
<title>Sensei | Cambio contraseña</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cambio contraseña</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Cambio contraseña</h1>
</div>
{% endblock navegacion_links %}

{% block contenido %}
{{ form.media }}

<div class="row justify-content-center">
<div class="card col-sm-6 text-center">
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-outline-success">Actualizar</button>
        </form>
    </div>
  </div>
  </div>



{% endblock contenido %}
