{% extends 'dasboard/base.html' %}


{% block titulo %}
<title>Sensei | Formulario</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Formulario</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Formulario</h1>
</div>
{% endblock navegacion_links %}

{% block contenido %}
{{ form.media }}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        {% for input in form %}
        <div class="col-md-3">
            {{input.label}}
            {{input.errors}}
            {{input}}
            {{input.help_text}}
        </div>
        {% endfor %}

        <div class="col-md-3">
            <br>
            <button type="submit" class="btn btn-outline-success">Guardar</button>
        </div>
    </div>
</form>
{% endblock contenido %}