
	{% extends 'inicio/base_inicio.html' %}
	
	{% block contenido %}

	<section class="home-slider ftco-degree-bg">
		<div class="slider-item">
		  <div class="overlay"></div>
		  <div class="container">
			<div class="row slider-text align-items-center justify-content-center">
				<div class="adminx-container d-flex justify-content-center align-items-center">
					<div class="page-login">
					  <div class="text-center">
						<a class="navbar-brand mb-4 h1" href="#">
						  <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="dsdsd">
						  Sensei
						</a>
					  </div>
			  
					  <div class="card mb-0">
						<!-- <div class="card-body">
						  <a class="btn btn-labeled btn-block text-left btn-sm btn-facebook" href="#">
							<span class="btn-label">
							  <i data-feather="facebook"></i>
							</span>
							Login with Facebook
						  </a>
						  <a class="btn btn-labeled btn-block text-left btn-sm btn-twitter" href="#">
							<span class="btn-label">
							  <i data-feather="twitter"></i>
							</span>
							Login with Twitter
						  </a>
						</div> -->
						<!-- <div class="card-seperator">
						  <span>or</span>
						</div> -->
						<div class="card-body">			
						  <form class="form-auth-small" action="" method="POST">
							<input type="hidden" name="next" value="{% url 'ctr:dasboard' %}">
							  {% csrf_token %}
							  <div class="form-group">
								  <label for="signin-email" class="control-label sr-only">Usuario</label>
								  <input type="text" name="username" class="form-control" id="signin-email" placeholder="Usuario">
							  </div>
							  <div class="form-group">
								  <label for="signin-password" class="control-label sr-only">Password</label>
								  <input type="password" class="form-control" name="password" id="signin-password" placeholder="Password">
							  </div>
			  
							  <button type="submit" class="btn btn-sm btn-block btn-primary">Entrar</button>
							  <div class="bottom">
							  </div>
							  {% for error in form.non_field_errors %}
							  <li>{{ error }}</li>
							  {% endfor %}
						  </form>
						</div>
						<div class="card-footer text-center">
						  <!-- <a href="#"><small>Forgot your password?</small></a> -->
						  <a href="{% url 'web:registro' %}"><small>Crear cuenta</small></a>
						</div>
					  </div>
					</div>
				  </div>
			</div>
		  </div>
		</div>
	  </section>
		
	
		
	

	{% endblock contenido %}