{% extends 'inicio/base_inicio.html' %}
{% load static %}


{% block style %}
    <!-- <style>
        .ftco-navbar-light{
        background-color: #343A40 !important;
    }
    </style> -->
{% endblock style %}


{% block contenido %}

<section class="home-slider ftco-degree-bg">
    <div class="slider-item bread-wrap" style="background-image: url(&quot;images/bg_1.jpg&quot;); background-position: 50% 275px;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center">
          <div class="col-md-10 col-sm-12 ftco-animate mb-4 text-center fadeInUp ftco-animated">
              <h1 class="mb-3 bread">Gracias! por su visita</h1>
              <p><em>-Para tener éxito, tus deseos de triunfar deberían ser más grandes que tu miedo de fracasar.</em></p>
              <h6 class="text-right">-Bill Cosby.</h6>
              <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'web:login' %}">Ingresar</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock contenido %}
    
    
