{% extends 'dasboard/base.html' %}
{% block titulo %}
<title>Sensei | Perfil</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Perfil</h1>
</div>
{% endblock navegacion_links %} 

{% block contenido %}
<div class="row justify-content-center">
<div class="card text-center">

    
    <div class="card-header">
        {{user.get_full_name}}
    </div>
    <div class="card-body">
        <img src="{% if user.foto_perfil != '' %}{{user.foto_perfil.url}}{% endif %}" class="rounded-circle" style="width: 150px;" alt="{{user.get_full_name}}">
      <h5 class="card-title">{{user.username}}</h5>
      <p class="card-text">{{user.acerca_de_mi}}</p>
      <p class="card-text">{{user.telefono}}</p>
      <p class="card-text">{{user.fecha_nacimiento}}</p>
      <a href="{% url 'perfil_user_update' user.id %}" class="btn btn-primary">Actualizar</a>
    </div>
    <div class="card-footer text-muted">
      Ultimo acceso: {{user.last_login}}
    </div>
  </div>
</div>
{% endblock contenido %}