{% extends 'inicio/base_inicio.html' %}
{% load static %}


{% block style %}
    <style>
        .ftco-navbar-light{
        background-color: #343A40 !important;
    }
    </style>
{% endblock style %}
    


{% block contenido %}
    
<style>
    
    .errorlist{
        color: red;
        font-size: 20px;
    }
    .mce-notification-inner {display: none! Important;}
</style>

    
    <!-- <section class="home-slider ftco-degree-bg">
        <div class="slider-item">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
             
            </div>
          </div>
        </div>
      </section> -->
    <!-- WRAPPER -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3 text-center">


                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-sm-6">
                                    <strong>{{ form.first_name.label }}</strong>
                                    <p class="text-danger active">{{ form.first_name.errors }}</p>
                                    {{ form.first_name }}
                            </div>
                            <div class="col-sm-6">
                                    <strong>{{ form.last_name.label }}</strong>
                                    <p class="text-danger active">{{ form.last_name.errors }}</p>
                                    {{ form.last_name }}
                            </div>
                            <div class="col-sm-12">
                                    <strong>{{ form.email.label }}</strong>
                                    <p class="text-danger active">{{ form.email.errors }}</p>
                                    {{ form.email }}
                            </div>
                            <div class="col-sm-12">
                                <strong>{{ form.username.label }}</strong>
                                <p style="color: red;">{{ form.username.errors }}</p>
                                {{ form.username }}
                                {{ form.username.help_text }}
                            </div>
                            <div class="col-sm-12">
                                    <strong>{{ form.password1.label }}</strong>
                                    <p class="text-danger active">{{ form.password1.errors }}</p>
                                    {{ form.password1 }}
                                    {{ form.password1.help_text }}
                            </div>
                            <div class="col-sm-12">
                                    <strong>{{ form.password2.label }}</strong>
                                    <p class="text-danger active">{{ form.password2.errors }}</p>
                                    {{ form.password2 }}
                                    {{ form.password2.help_text }}
                            </div>
                            <div class="col-sm-12">
                                    <strong>{{ form.tipo_de_usuario.label }}</strong>
                                    <p class="text-danger active">{{ form.tipo_de_usuario.errors }}</p>
                                    {{ form.tipo_de_usuario }}
                                    {{ form.tipo_de_usuario.help_text }}
                            </div>
                        </div>

<br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock contenido %}