{% extends 'dasboard/base.html' %}
{% block titulo %}
<title>Sensei | Blogs</title>
<meta property="fb:app_id" content="221590382616544" />

{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blogs</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Blog</h1>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div class="container">

    <div class="col-sm-12">
        <img src="{{object.blog_imagen.url}}" class="img-fluid" alt="{{object.blog_titulo}}">
    </div>
    {{object.blog_contenido|safe}}
</div>


<div class="container">
    <div class="row">
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="60" data-width=""></div>
    </div>
</div>
{% endblock contenido %}


{% block script %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0&appId=221590382616544&autoLogAppEvents=1"></script>
{% endblock script %}
    