{% extends 'dasboard/base.html' %}
{% block titulo %}
<title>Sensei | Examenes</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="">Materia</a></li>
        <li class="breadcrumb-item"><a href="">Unidad</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Examen</li>
        <li class="breadcrumb-item active" aria-current="page">Reactivos</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Examenes</h1>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div id="app">


    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn-group pb-2" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="{% url 'ctr:reactivo_create' view.kwargs.id_examen %}"
                role="button">Añadir</a>
        </div>
    </div>
    <br>




    <div class="row">
        <div class="col-sm-3">
            {{form.rec_nombre.label}}
            {{form.rec_nombre}}
        </div>
        <div class="col-sm-3">
            {{form.rec_tipo.label}}
            {{form.rec_tipo}}
        </div>
        <div class="col-sm-3" v-if="visivilidad">
            <label for="exampleInputEmail1">Especifique su opción</label>
            <div class="input-group mb-3 input-group-sm">
                <input type="text" class="form-control" placeholder="Opcion" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" v-model="v_opcion">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" v-on:click="add_items_data">Agregar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <br>
            <button type="button" class="btn btn-success">Terminar</button>
        </div>
    </div>




    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">
                            <h3>[[titulo]]</h3>
                        </label>
                        <div v-html="tipo_widget"></div>
                        <wigget_form :data_item="items"></wigget_form>
                        <wigget_select :data_item="items"></wigget_select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-grid">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header-title">Contenido</div>
                </div>
                <div class="table-responsive-md">
                    <table class="table table-actions table-striped table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <label class="custom-control custom-checkbox m-0 p-0">
                                        <input type="checkbox" class="custom-control-input table-select-all">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </th>
                                <th scope="col">Pregunta</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in object_list %}
                            <tr>
                                <th scope="row">
                                    <label class="custom-control custom-checkbox m-0 p-0">
                                        <input type="checkbox" class="custom-control-input table-select-row">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </th>
                                <td>{{item.rec_nombre}}</td>
                                <td>{{item.rec_tipo|safe}}</td>


                                <td>
                                    <a href="" class="btn btn-sm btn-labeled btn-info">
                                        <span class="btn-label">
                                            <span class="oi oi-menu" aria-hidden="true"></span>
                                        </span>
                                        <span class="btn-text">
                                            Reactivos
                                        </span>
                                    </a>

                                    <a href="" class="btn btn-sm btn-labeled btn-primary">
                                        <span class="btn-label">
                                            <span class="oi oi-pencil" aria-hidden="true"></span>
                                        </span>
                                        <span class="btn-text">
                                            Editar
                                        </span>
                                    </a>

                                    <a href="" class="btn btn-sm btn-labeled btn-danger">
                                        <span class="btn-label">
                                            <span class="oi oi-trash" aria-hidden="true"></span>
                                        </span>
                                        <span class="btn-text">
                                            Eliminar
                                        </span>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock contenido %}

{% block script %}
<script>

    Vue.component('wigget_form', {
        data: function () {

            return {
                raiio_data: []
            }
        },
        delimiters: ["[[", "]]"],
        props: ['data_item'],
        template: `
        <ul>
            <li v-for="item in data_item">
                <div class="form-check" >
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" :value="item.valor">
                    <label class="form-check-label" for="gridRadios2">[[item.text]]</label>
                </div>
            </li>
        </ul>`,

    })
    Vue.component('wigget_select', {
        data: function () {

            return {
                raiio_data: []
            }
        },
        delimiters: ["[[", "]]"],
        props: ['data_item'],
        template: `
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Selecciones</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option  v-for="item in data_item">[[item.text]]</option>
                    </select>
                </div>`,

    })


    var app = new Vue({
        el: '#app',
        data: {
            visivilidad: false,
            v_opcion: '',
            titulo: "",
            tipo_widget: "",
            items: [
            ]
        },
        methods: {
            onChange(event) {
                console.log(event.target.value)

                switch (event.target.value) {
                    case 'text':
                        this.tipo_widget = '<input class="form-control form-control-lg" type="text" placeholder="">'
                        this.visivilidad = false
                        break;
                    case 'textarea':
                        this.tipo_widget = '<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>'
                        this.visivilidad = false
                        break;
                    case 'radio':
                        this.tipo_widget = ''
                        this.visivilidad = true
                        break;
                    case 'checkbox':
                        this.tipo_widget = ''
                        this.visivilidad = true
                        break;
                    case 'option':
                        this.tipo_widget = ''
                        this.visivilidad = true
                        break;
                    default:
                        this.tipo_widget = ''
                        this.visivilidad = false
                        break;

                }



            },

            add_items_data: function (event) {
                if (this.v_opcion != '') {
                    this.items.push({ valor: '', text: this.v_opcion });
                    this.v_opcion = ''
                }
            }
        },
        delimiters: ["[[", "]]"]
    })






</script>
{% endblock script %}