{% extends 'dasboard/base.html' %}
{% load static %}
{% block titulo %}
<title>Sensei | Examenes</title>
{% endblock titulo %}

{% block navegacion_links %}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ctr:materia_list' %}">Materia</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ctr:materia_unidad' obj_examen.ex_unidad.unidad_materia.materia_id  %}">Unidad</a>
        <li class="breadcrumb-item"><a href="{% url 'ctr:examen_listar' obj_examen.ex_unidad.unidad_id %}">Examen</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Reactivos</li>
    </ol>
</nav>
<div class="pb-3">
    <h1>Reactivos</h1>
</div>
{% endblock navegacion_links %}


{% block contenido %}

<div id="app">


    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn-group pb-2" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="{% url 'ctr:reactivo_create' view.kwargs.id_examen %}"
                role="button">Añadir</a>
        </div>
    </div>
    <br>




    <div class="row">
        <div class="col-sm-3">
            {{form.rec_nombre.label}}
            {{form.rec_nombre}}
        </div>
        <div class="col-sm-3">
            {{form.rec_tipo.label}}
            {{form.rec_tipo}}
        </div>
        <div class="col-sm-3" v-if="visivilidad">
            <label for="exampleInputEmail1">Especifique su opción</label>
            <div class="input-group mb-3 input-group-sm">
                <input type="text" class="form-control" placeholder="Opcion" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" v-model="v_opcion">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" v-on:click="add_items_data">Agregar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <br>
            <button type="button" class="btn btn-success" v-on:click="post_item()">Terminar</button>
        </div>
    </div>




    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">
                            <h3>[[question_text]]</h3>
                        </label>
                        <wigget_form :data_item="items" v-if="visible_radio"></wigget_form>
                        <input_text_widget  @return_text_valor="value_text_verdadero = $event" v-if="visible_text"></input_text_widget>
                        <input_textarea_widget @return_text_valor="value_textarea_verdadero = $event" v-if="visible_textarea"></input_textarea_widget>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col">
            <div class="card mb-grid">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header-title">Contenido</div>
                </div>
                <div class="table-responsive-md">
                    <table class="table table-actions table-striped table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <label class="custom-control custom-checkbox m-0 p-0">
                                        <input type="checkbox" class="custom-control-input table-select-all">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </th>
                                <th scope="col">Pregunta</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in object_list %}
                            <tr>
                                <th scope="row">
                                    <label class="custom-control custom-checkbox m-0 p-0">
                                        <input type="checkbox" class="custom-control-input table-select-row">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </th>
                                <td>{{item.rec_nombre}}</td>
                                <td>{{item.get_rec_tipo_display}}</td>


                                <td>
                                    <!-- <a href="" class="btn btn-sm btn-labeled btn-info">
                                        <span class="btn-label">
                                            <span class="oi oi-menu" aria-hidden="true"></span>
                                        </span>
                                        <span class="btn-text">
                                            Reactivos
                                        </span>
                                    </a> -->

                                    <a href="{% url 'ctr:eleccion_list' item.id %}" class="btn btn-sm btn-labeled btn-primary">
                                        <span class="btn-label">
                                            <span class="oi oi-pencil" aria-hidden="true"></span>
                                        </span>
                                        <span class="btn-text">
                                            Marcar Respuesta
                                        </span>
                                    </a>

                                    <a href="{% url 'ctr:reactivo_delete' item.id view.kwargs.id_examen %}" class="btn btn-sm btn-labeled btn-danger">
                                        <span class="btn-label">
                                            <span class="oi oi-trash" aria-hidden="true"></span>
                                        </span>
                                        <span class="btn-text">
                                            Eliminar
                                        </span>
                                    </a>

                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


    

    


{% endblock contenido %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'vue/componentes.js' %}"></script> 
<script src="{% static 'vue/reactivo_vue.js' %}"></script> 
{% endblock script %}